<ion-header>
  <ion-toolbar>
    <ion-title>Editar producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form >

    <ion-item lines="full">
      <ion-label position="stacked">Título o nombre del producto</ion-label>
      <ion-input [(ngModel)]="queso.titulo" name="nombre" type="text" #Nombre required ></ion-input>

    </ion-item>

    <ion-item lines="full">
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="queso.descripcion" name="apellido" type="text" #Apellido required >
        
      </ion-input>
    </ion-item>
<!--
    <ion-item lines="full">
      <ion-label position="floating">img</ion-label>
      <ion-input [(ngModel)]="queso.img" name="telefono_fijo" type="text" #Dirección required ngModel> </ion-input>
    </ion-item>
-->
    <ion-item lines="full" >
      <ion-label>Promoción</ion-label>
      <ion-toggle slot="end" [(ngModel)]="queso.promocion" name="promocion" (ionChange)="PromocionToggle2()"></ion-toggle>
    </ion-item>

    <ion-item lines="full" >
      <ion-label>Estado</ion-label>
      <ion-toggle slot="end" [(ngModel)]="queso.estado" name="estado" (ionChange)="PromocionToggle1()"></ion-toggle>
    </ion-item>
    
    <ion-card class="ion-text-center" >
      <ion-card-header >
        <ion-card-title>Imagen</ion-card-title>
      </ion-card-header>
      <ion-card-content >
          <input id="uploadBtn" type="file" id="file-upload" class="upload" (change)="handler($event)"/>
      </ion-card-content>
      
    </ion-card>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" 
                  (click)="uploadImage(image, queso)"
                  expand="block" >Cargar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" 
                  (click)="deleteProducto()"
                  expand="block" color="danger">Eliminar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
