<ion-header>
  <ion-toolbar color="cheese">
    <ion-title>Información de producto</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/main']">
        <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list  >
  <ion-card>
  <ion-img *ngIf="queso.img" [src]="queso.img" ></ion-img>
  <ion-item>
    <h2>{{ queso.titulo }}</h2>
    <p>{{ queso.descripcion }}</p>
  </ion-item>
  <ion-card-content *ngIf="authService.isLoggedIn">
    <ion-item >
      <h1>{{ ciudad }}</h1>
    </ion-item>
    <ion-item >
      <h1>{{ dep }}</h1>
    </ion-item>
    <ion-item >
      <h1>Reg: {{ region }}</h1>
    </ion-item>
    <ion-item >
      <h1>Productor: {{ nom }}</h1>
    </ion-item>
    <ion-item >
      <h1>Cel: {{ cel }}</h1>
    </ion-item>
    <ion-item >
      <h1>Fijo: {{ fijo }}</h1>
    </ion-item>
  </ion-card-content>

          <div *ngIf="authService.isLoggedIn">
          <ion-item >
            <ion-col>
                <ion-icon (click)="deleteFavorito(keyProductFav)" *ngIf="notificacion == 1" name='bookmark'></ion-icon>
                <ion-icon *ngIf="notificacion == 0" (click)="addFavorito(queso.key)" name='bookmark-outline'></ion-icon>
            </ion-col>
          </ion-item>
          </div>

  <ion-item *ngIf="queso.promocion">
    <ion-icon color="danger" slot="end" name="ribbon-outline"></ion-icon>
    <label slot="end" color="light">Promoción</label>
  </ion-item>
    </ion-card>
  </ion-list>

  <ion-row>
    <ion-col *ngIf="authService.isLoggedIn"> 
    <ion-button type="submit" 
                (click)="addProduct(notifyProduct)"
                expand="block" >Ponerse en contacto</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
