<ion-header>
  <ion-toolbar color="cheese">
    <ion-title>favoritos</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/main']">
        <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    Producto:
  </ion-list-header>
  <ion-list *ngFor="let producto of productos | async "
  details-push navPush="miproducto" [routerLink]="['/modalinfoproducto', producto]" >
  <div *ngFor="let fav of productoFav">

  
    <ion-item *ngIf="fav.keyproducto == producto.key" >
      <ion-card>
        <ion-col>
            <ion-row>
          {{producto.titulo}}
        </ion-row>
        </ion-col>
      <ion-col>
        <ion-row>
          <ion-img *ngIf="producto.img" [src]="producto.img" ></ion-img>
        </ion-row>
      </ion-col>
      <ion-item *ngIf="producto.promocion">
        <ion-icon color="danger" slot="end" name="ribbon-outline"></ion-icon>
        <label slot="end" color="light">Promoción</label>
      </ion-item>
      </ion-card>
    </ion-item>
  </div>
  </ion-list>
</ion-content>
